<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active"><a (click)="onGetAllBankAccounts()"
                            style="cursor: pointer; color: blue;">BankAccounts</a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content" style="margin-left: 5%;">
    <ng-container *ngIf="(search$ | async) as result" [ngSwitch]="result.dataState">
        <ng-container *ngSwitchCase="DataStateEnum.LOADING">
        </ng-container>
        <ng-container *ngSwitchCase="DataStateEnum.ERROR">
            <div class="alert-danger">
                {{result.errorMessage}}
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="DataStateEnum.LOADED">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-11">
                        <div class="card  card-secondary">
                            <div class="card-header">
                                <h3 class="card-title" (click)="onGetAllBankAccounts()" style="cursor: pointer;">List
                                    Bank Accounts
                                    <button type="button" class="btn btn-success m-3" data-bs-toggle="modal"
                                        data-bs-target="#modal-ajout-current">
                                        Current Account
                                    </button>
                                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                        data-bs-target="#modal-ajout-saving">
                                        Saving Account
                                    </button>
                                </h3>
                                <li class="nav-item d-none d-sm-inline-block" style="float:right">
                                    <!--Search form-->
                                    <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-inline ml-3">
                                        <div class="input-group input-group-sm">
                                            <input ngModel name="keyword" class="form-control form-control-navbar"
                                                type="search" placeholder="Search" aria-label="Search">
                                            <div class="input-group-append">
                                                <button class="btn btn-navbar" type="submit">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <!--/Search form-->
                                </li>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 7px">#</th>
                                            <th>Balance</th>
                                            <th>Created At</th>
                                            <th>Status</th>
                                            <th>Description</th>
                                            <th>Over Draft</th>
                                            <th>Interest Rate</th>
                                            <th>Operations</th>
                                            <th *ngIf="loginService.isAdmin()">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let b of bankAccounts  | paginate: {itemsPerPage:6, currentPage : page, totalItems:totalLength}">
                                            <td>{{b.id}}</td>
                                            <td>{{b.balance}}</td>
                                            <td>{{b.createdAt}}</td>
                                            <td>{{b.status}}</td>
                                            <td>{{b.description}}</td>
                                            <td>
                                                <div *ngIf="b.overDraft!=null;else other_content">
                                                    {{b.overDraft}}
                                                </div>
                                                <ng-template #other_content>  __ </ng-template>
                                            </td>
                                            <td>
                                                <div *ngIf="b.interestRate!=null;else other_content">
                                                    {{b.interestRate}}
                                                </div>
                                                <ng-template #other_content> __ </ng-template>
                                            </td>
                                            <td>
                                                <button class="btn btn-primary m-2"
                                                    (click)="onViewAccountOperations(b.id)"><span
                                                        class="fa fa-inbox"></span></button>
                                            </td>
                                            <td style="width: 30%" *ngIf="loginService.isAdmin()">
                                                <button class="btn btn-danger m-2 "
                                                    (click)="onDeleteBankAccount(b.id)" ><span
                                                        class="fa fa-trash"></span></button>
                                                <button type="button" class="btn btn-warning m-2"
                                                    (click)="getValue(b.id)" data-bs-toggle="modal"
                                                    data-bs-target="#modal-modification">
                                                    <span class="fa fa-edit"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer clearfix">
                                <ul class="pagination pagination-sm m-0 float-right">
                                  <li class="page-item"><pagination-controls class="page-link" (pageChange)="page=$event"></pagination-controls></li>
                                </ul>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer clearfix">
                                <ul class="pagination pagination-sm m-0 float-right">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</section>
<!-- /.card -->
<!--Modal  pour l'ajout current-->
<section class="content" >
    <div class="modal fade" id="modal-ajout-current">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Current Bank Account</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="currentAccountformGroupe" *ngIf="currentAccountformGroupe" #f="ngForm"
                        (ngSubmit)="onSaveCurrentAccount(f.value)">
                        <div class="card-body">
                            <input class="form-control" type="hidden" formControlName="type" value="CurrentAccount"
                                    [ngClass]="{'is-invalid':submitted && currentAccountformGroupe.controls['type'].errors}">
                            <div class="form-group">
                                <label for="balance">Balance</label>
                                <input type="text" class="form-control" placeholder="Enter a Balance"
                                    formControlName="balance"
                                    [ngClass]="{'is-invalid':submitted && currentAccountformGroupe.controls['balance'].errors}">
                                <div *ngIf="submitted && currentAccountformGroupe.controls['balance'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="currentAccountformGroupe.controls['balance'].errors['required']">Balance is
                                        required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="createdAt">Created At</label>
                                <input class="form-control" placeholder="Created At?" type="date" min=1
                                    formControlName="createdAt"
                                    [ngClass]="{'is-invalid':submitted && currentAccountformGroupe.controls['createdAt'].errors}">
                                <div *ngIf="submitted && currentAccountformGroupe.controls['createdAt'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="currentAccountformGroupe.controls['createdAt'].errors['required']">Date is
                                        required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="status">Status</label>
                                <select class="form-control" formControlName="status"
                                    [ngClass]="{'is-invalid':submitted && currentAccountformGroupe.controls['status'].errors}"
                                    [(ngModel)]="selectedOption">
                                    <option>-Select a status--</option>
                                    <option value="CREATED">CREATED</option>
                                    <option value="ACTIVATED">ACTIVATED</option>
                                    <option value="SUSPENDED">SUSPENDED</option>
                                </select>
                                <div *ngIf="submitted && currentAccountformGroupe.controls['status'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="currentAccountformGroupe.controls['status'].errors['required']">Status is
                                        required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input type="text" class="form-control" placeholder="Add a description"
                                    formControlName="description"
                                    [ngClass]="{'is-invalid':submitted && currentAccountformGroupe.controls['description'].errors}">
                                <div *ngIf="submitted && currentAccountformGroupe.controls['description'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="currentAccountformGroupe.controls['description'].errors['required']">
                                        Description is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Over Draft</label>
                                <input type="number" class="form-control"
                                    formControlName="overDraft"
                                    [ngClass]="{'is-invalid':submitted && currentAccountformGroupe.controls['overDraft'].errors}">
                                <div *ngIf="submitted && currentAccountformGroupe.controls['overDraft'].errors"
                                    class="invalid-feedback" >
                                    <div
                                        *ngIf="currentAccountformGroupe.controls['overDraft'].errors['required']">
                                        Overdraft is required</div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <!-- Modal footer-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary m-2" [disabled]="!f.valid">Save</button>
                        </div>
                        <!-- Modal /footer-->
                    </form>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    <!-- /.modal -->
</section>
<!--/Modal pour l'ajout current-->
<!--Modal  pour l'ajout saving-->
<section class="content" >
    <div class="modal fade" id="modal-ajout-saving">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Saving Bank Account</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="savingAccountformGroupe" *ngIf="savingAccountformGroupe" #f="ngForm"
                        (ngSubmit)="onSaveSavingAccount(f.value)">
                        <div class="card-body">
                            <input class="form-control" type="hidden" formControlName="type" value="SavingAccount"
                                    [ngClass]="{'is-invalid':submitted && savingAccountformGroupe.controls['type'].errors}">
                            <div class="form-group">
                                <label for="balance">Balance</label>
                                <input type="text" class="form-control" placeholder="Enter a Balance"
                                    formControlName="balance"
                                    [ngClass]="{'is-invalid':submitted && savingAccountformGroupe.controls['balance'].errors}">
                                <div *ngIf="submitted && savingAccountformGroupe.controls['balance'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="savingAccountformGroupe.controls['balance'].errors['required']">Balance is
                                        required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="createdAt">Created At</label>
                                <input class="form-control" placeholder="Created At?" type="date" min=1
                                    formControlName="createdAt"
                                    [ngClass]="{'is-invalid':submitted && savingAccountformGroupe.controls['createdAt'].errors}">
                                <div *ngIf="submitted && savingAccountformGroupe.controls['createdAt'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="savingAccountformGroupe.controls['createdAt'].errors['required']">Date is
                                        required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="status">Status</label>
                                <select class="form-control" formControlName="status"
                                    [ngClass]="{'is-invalid':submitted && savingAccountformGroupe.controls['status'].errors}"
                                    [(ngModel)]="selectedOption">
                                    <option>-Select a status--</option>
                                    <option value="CREATED">CREATED</option>
                                    <option value="ACTIVATED">ACTIVATED</option>
                                    <option value="SUSPENDED">SUSPENDED</option>
                                </select>
                                <div *ngIf="submitted && savingAccountformGroupe.controls['status'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="savingAccountformGroupe.controls['status'].errors['required']">Status is
                                        required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input type="text" class="form-control" placeholder="Add a description"
                                    formControlName="description"
                                    [ngClass]="{'is-invalid':submitted && savingAccountformGroupe.controls['description'].errors}">
                                <div *ngIf="submitted && savingAccountformGroupe.controls['description'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="savingAccountformGroupe.controls['description'].errors['required']">
                                        Description is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Interest Rate</label>
                                <input type="number" class="form-control" formControlName="interestRate"
                                    [ngClass]="{'is-invalid':submitted && savingAccountformGroupe.controls['interestRate'].errors}" >
                                <div *ngIf="submitted && savingAccountformGroupe.controls['interestRate'].errors"
                                    class="invalid-feedback" >
                                    <div
                                        *ngIf="savingAccountformGroupe.controls['interestRate'].errors['required']">
                                        Overdraft is required</div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <!-- Modal footer-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary m-2" [disabled]="!f.valid">Save</button>
                        </div>
                        <!-- Modal /footer-->
                    </form>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    <!-- /.modal -->
</section>
<!--/Modal pour l'ajout saving-->
<!--Modal  pour la modification-->
<section class="content" *ngIf="loginService.isAdmin()">
    <div class="modal fade" id="modal-modification">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update Bank Account</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="bankAccountformGroupeModifiaction" *ngIf="bankAccountformGroupeModifiaction"
                        #f="ngForm" (ngSubmit)="onUpdate(f.value)">
                        <div class="card-body">
                            <div class="form-group">
                                <input class="form-control" type="hidden" formControlName="id"
                                    [ngClass]="{'is-invalid':submitted && bankAccountformGroupeModifiaction.controls['id'].errors}">
                                <input class="form-control" type="hidden" formControlName="type"
                                    [ngClass]="{'is-invalid':submitted && bankAccountformGroupeModifiaction.controls['type'].errors}">
                                <label>Balance</label>
                                <input type="text" class="form-control" placeholder="Enter a Balance"
                                    formControlName="balance"
                                    [ngClass]="{'is-invalid':submitted && bankAccountformGroupeModifiaction.controls['balance'].errors}">
                                <div *ngIf="submitted && bankAccountformGroupeModifiaction.controls['balance'].errors"
                                    class="invalid-feedback">
                                    <div
                                        *ngIf="bankAccountformGroupeModifiaction.controls['balance'].errors['required']">
                                        Balance is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Created At</label>
                                <input class="form-control" placeholder="Created At?" type="text"
                                    formControlName="createdAt"
                                    [ngClass]="{'is-invalid':submitted && bankAccountformGroupeModifiaction.controls['createdAt'].errors}"
                                    [readonly]=true>
                                <div *ngIf="submitted 
                              && bankAccountformGroupeModifiaction.controls['createdAt'].errors"
                                    class="invalid-feedback">
                                    <div
                                        *ngIf="bankAccountformGroupeModifiaction.controls['createdAt'].errors['required']">
                                        Date is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Status</label>
                                <select class="form-control" formControlName="status"
                                    [ngClass]="{'is-invalid':submitted && bankAccountformGroupeModifiaction.controls['status'].errors}">
                                    <option>-Select a status--</option>
                                    <option value="CREATED">CREATED</option>
                                    <option value="ACTIVATED">ACTIVATED</option>
                                    <option value="SUSPENDED">SUSPENDED</option>
                                </select>
                                <div *ngIf="submitted 
                              && bankAccountformGroupeModifiaction.controls['status'].errors" class="invalid-feedback">
                                    <div
                                        *ngIf="bankAccountformGroupeModifiaction.controls['status'].errors['required']">
                                        Status is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <input class="form-control" placeholder="Description" type="text"
                                    formControlName="description"
                                    [ngClass]="{'is-invalid':submitted && bankAccountformGroupeModifiaction.controls['description'].errors}">
                                <div *ngIf="submitted 
                              && bankAccountformGroupeModifiaction.controls['description'].errors"
                                    class="invalid-feedback">
                                    <div
                                        *ngIf="bankAccountformGroupeModifiaction.controls['description'].errors['required']">
                                        Description is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Over Draft</label>
                                <input type="number" class="form-control" placeholder="No Over Draft for this account"
                                    formControlName="overDraft"  [readonly]=true>
                            </div>
                            <div id="#interestRate" class="form-group" *ngIf="bankAccountformGroupeModifiaction.controls['interestRate']">
                                <label>Interest Rate</label>
                                <input type="number" class="form-control" placeholder="No interest Rate for this account"
                                    formControlName="interestRate"
                                    [ngClass]="{'is-invalid':submitted && bankAccountformGroupeModifiaction.controls['interestRate'].errors}" [readonly]=true>
                                <div *ngIf="submitted && bankAccountformGroupeModifiaction.controls['interestRate'].errors"
                                    class="invalid-feedback" >
                                    <div
                                        *ngIf="bankAccountformGroupeModifiaction.controls['interestRate'].errors['required']">
                                        interest Rate is required</div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal footer-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary m-2" [disabled]="!f.valid">Save</button>
                        </div>
                        <!-- Modal /footer-->
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    <!-- /.modal -->
</section>
<!--/Modal pour la modification-->
<script type="text/javascript">
    $(function () {
        const Toast = Swal.mixin({
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });

        $('.swalDefaultSuccess').click(function () {
            Toast.fire({
                type: 'success',
                title: ''
            })
        });

    });
</script>
<script>
    function toggle() {
        var overDraft = document.getElementById("overDraft");
        var interestRate = document.getElementById("interestRate");
        overDraft.style.display = selectedOption.value == "SavingAccount" ? "block" : "none";
        interestRate.style.display = selectedOption.value == "CurrentAccount" ? "block" : "none";
    }
</script>