<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active"><a (click)="onGetAllCustomers()" style="cursor: pointer; color: blue;">Customers</a></li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content" style="margin-left: 5%;" >
    <ng-container *ngIf="(search$ | async) as result" [ngSwitch]="result.dataState" >
      <ng-container *ngSwitchCase="DataStateEnum.LOADING">
      </ng-container>
      <ng-container *ngSwitchCase="DataStateEnum.ERROR">
        <div class="alert-danger">
          {{result.errorMessage}}
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="DataStateEnum.LOADED">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-11">
          <div class="card  card-secondary">
            <div class="card-header">
              <!-- Button add -->
              <h3 class="card-title" (click)="onGetAllCustomers()" style="cursor: pointer;">List Customers           
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-ajout">
                  <span class="fa fa-plus"></span>
                </button>
              </h3>
              <!-- /Button add -->
              <li class="nav-item d-none d-sm-inline-block"style="float:right">
                <!--Search form-->
                <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-inline ml-3">
                  <div class="input-group input-group-sm">
                    <input ngModel name="keyword" class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                      <button class="btn btn-navbar" type="submit">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </form>  
                <!--/Search form-->
              </li>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-bordered">
                <thead>                  
                  <tr>
                    <th style="width: 7px">#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Bank Accounts</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let c of customers | paginate: {itemsPerPage:6, currentPage : page, totalItems:totalLength}">
                    <td>{{c.id}}</td>
                    <td>{{c.name}}</td>
                    <td>{{c.email}}</td>
                    <td>
                        <button class="btn btn-primary m-2" (click)="onViewBankAccounts(c.id)"><span class="fa fa-inbox"></span></button>
                    </td>
                     <td style="width: 30%">
                      <button class="btn btn-danger m-2 " (click)="onDeleteCustomer(c.id)" ><span class="fa fa-trash"></span></button>
                      <button type="button" class="btn btn-warning m-2" (click)="getValue(c.id)" data-bs-toggle="modal" data-bs-target="#modal-modification">
                        <span class="fa fa-edit"></span>
                      </button>
                      </td> 
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer clearfix">
              <ul class="pagination pagination-sm m-0 float-right">
                <li class="page-item"><pagination-controls class="page-link" (pageChange)="page=$event"></pagination-controls></li>
              </ul>
           </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <ul class="pagination pagination-sm m-0 float-right">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </ng-container>
    </ng-container>
  </section>
  <!-- /.card -->
  <!--Modal  pour l'ajout-->
  <section class="content">
    <div class="modal fade" id="modal-ajout">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add Customer</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form  [formGroup]="customerformGroupe" *ngIf="customerformGroupe" #f="ngForm" (ngSubmit)="onSaveCustomer(f.value)" >
              <div class="card-body">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" placeholder="Enter a name" formControlName="name"  [ngClass]="{'is-invalid':submitted && customerformGroupe.controls['name'].errors}">
                  <div *ngIf="submitted && customerformGroupe.controls['name'].errors" class="invalid-feedback">
                    <div *ngIf="customerformGroupe.controls['name'].errors['required']">Name is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input class="form-control" placeholder="Enter an email" type="email" min=1  formControlName="email" [ngClass]="{'is-invalid':submitted && customerformGroupe.controls['email'].errors}">
                  <div *ngIf="submitted && customerformGroupe.controls['email'].errors" class="invalid-feedback">
                    <div *ngIf="customerformGroupe.controls['email'].errors['required']">Email is required</div>
                  </div>
                </div>
              </div>
              <!-- Modal footer-->
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Save</button>
              </div>
              <!-- Modal /footer-->
              <!-- /.card-body -->
            </form>
          </div> 
          </div>
        </div> 
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    <!-- /.modal -->
  </section>
  <!--/Modal pour l'ajout-->
  <!--Modal  pour la modification-->
  <section class="content">
    <div class="modal fade" id="modal-modification">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Update Customer</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form  [formGroup]="customerformGroupeModifiaction" *ngIf="customerformGroupeModifiaction" #f="ngForm" (ngSubmit)="onUpdate(f.value)" >
              <div class="card-body">
                <div class="form-group">
                  <input class="form-control" type="hidden" formControlName="id" [ngClass]="{'is-invalid':submitted && customerformGroupeModifiaction.controls['id'].errors}" >
                  <label>Name</label>
                  <input type="text" class="form-control" placeholder="Enter a name" formControlName="name"  [ngClass]="{'is-invalid':submitted && customerformGroupeModifiaction.controls['name'].errors}">
                  <div *ngIf="submitted && customerformGroupeModifiaction.controls['name'].errors" class="invalid-feedback">
                      <div *ngIf="customerformGroupeModifiaction.controls['name'].errors['required']">Name is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input class="form-control" placeholder="Email" type="email"  formControlName="email" [ngClass]="{'is-invalid':submitted && customerformGroupeModifiaction.controls['email'].errors}">
                  <div *ngIf="submitted 
                            && customerformGroupeModifiaction.controls['email'].errors"
                             class="invalid-feedback">
                      <div *ngIf="customerformGroupeModifiaction.controls['email'].errors['required']">Email is required</div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary m-2" [disabled]="!f.valid" >Save</button>
              </div>
            </form>
          </div> 
          <!-- /.card-body -->
          </div>
        </div> 
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    <!-- /.modal -->
    
  </section>
  <!--/Modal pour la modification-->
  <script type="text/javascript">
    $(function() {
      const Toast = Swal.mixin({
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000
      });
  
      $('.swalDefaultSuccess').click(function() {
        Toast.fire({
          type: 'success',
          title: ''
        })
      });
     
    });
  </script>