<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Se Connecter</title>
</head>
<body>
  <div class="login-wrapper">
    <form  class="form" #f="ngForm" (ngSubmit)="onLogin(f.value)" >
      <!-- <img src="img/logo.png"> -->
      <h2>Se connecter</h2>
        <div class="input-group">
          <input type="text" ngModel="" name="username" required>
          <label>User Name</label>
        </div>
        <div class="input-group">
           <input type="password" ngModel="" name="password" autocomplete="on" required>
           <label>Password</label>
        </div>
        <input type="submit" value="Login" class="submit-btn">
    </form>
  </div>
</body>
</html>