<div class="container" style="margin-left: 25%;">
  <div class="card col-md-6 offset-3 mt-2">
    <div style="text-align: center" class="card-header">Log in</div>
    <div class="card-body">
      <form [formGroup]="loginFormGroup" (ngSubmit)="login()">
        <div style="text-align: center"  class="mb-3">
          <label class="form-label">Username :</label>
          <input type="text" formControlName="username" class="form-control">
          <span class="text-danger"
                *ngIf="loginFormGroup.controls['username'].touched
                && loginFormGroup.controls['username'].errors
                && loginFormGroup.controls['username'].errors!['required']">
            Username is Required
          </span>
        </div>
        <div style="text-align: center"  class="mb-3">
          <label class="form-label">Password :</label>
          <input type="password" formControlName="password" class="form-control">
          <span class="text-danger"
                *ngIf="loginFormGroup.controls['password'].touched
                && loginFormGroup.controls['password'].errors
                && loginFormGroup.controls['password'].errors!['password']">
            password is not valid
          </span>
        </div>
        <div style="text-align: center"  class="mb-3">
        <button [disabled]="!loginFormGroup.valid" class="btn btn-info">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
